<html>
	<head>
	<style>
	body { background: pink; font-family: "Comic Sans MS";  } 
	h1 { text-align:center; font-weight:bold; font-style:italic; }
	</style>
	<a href=”http://www.google.com”> Google </a>
		<title> Git test Page </title>
	</head>
 <body>
 <h1> 6K:183</h1>
 </body>
 </html> 